<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContollerCliente</servlet-name>
        <servlet-class>Controladores.ContollerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServicio</servlet-name>
        <servlet-class>RegistroServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPromociones</servlet-name>
        <servlet-class>Controladores.ControllerPromociones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPromocion</servlet-name>
        <servlet-class>Controladores.ControllerPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServiciosTicket</servlet-name>
        <servlet-class>Controladores.ControllerServiciosTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerTicket</servlet-name>
        <servlet-class>Controladores.ControllerTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServicios</servlet-name>
        <servlet-class>Controladores.ControllerServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerParqueo</servlet-name>
        <servlet-class>Controladores.ControllerParqueo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerTarifas</servlet-name>
        <servlet-class>Controladores.ControllerTarifas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerParqueaderos</servlet-name>
        <servlet-class>Controladores.ControllerParqueaderos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerTurno</servlet-name>
        <servlet-class>Controladores.ControllerTurno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUsuario</servlet-name>
        <servlet-class>Controladores.ControllerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerVehiculoss</servlet-name>
        <servlet-class>Controladores.controllerVehiculoss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVehiculo</servlet-name>
        <servlet-class>Controladores.ControllerVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContollerCliente</servlet-name>
        <url-pattern>/Cliente/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServicio</servlet-name>
        <url-pattern>/RegistroServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPromociones</servlet-name>
        <url-pattern>/ControllerPromociones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPromocion</servlet-name>
        <url-pattern>/ControllerPromocion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServiciosTicket</servlet-name>
        <url-pattern>/ControllerServiciosTicket/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerTicket</servlet-name>
        <url-pattern>/ControllerTicket/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServicios</servlet-name>
        <url-pattern>/ControllerServicios/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerParqueo</servlet-name>
        <url-pattern>/ControllerParqueo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerTarifas</servlet-name>
        <url-pattern>/ControllerTarifas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerParqueaderos</servlet-name>
        <url-pattern>/ControllerParqueaderos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerTurno</servlet-name>
        <url-pattern>/ControllerTurno/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUsuario</servlet-name>
        <url-pattern>/ControllerUsuario/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ControllerVehiculo</servlet-name>
        <url-pattern>/Vehiculo/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
